/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styles pour le pop-up modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.confirmation-message {
  margin-top: 20px;
  text-align: center;
}

/* Styles pour les annonces */
.annonce {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  width: calc(100% - 40px); /* Largeur par défaut */
}

.annonce.open {
  width: 33.33%; /* Largeur réduite lorsqu'une annonce est ouverte */
}

.details {
  display: none;
}

.details.active {
  display: block;
}

.annonce:hover {
  transform: translateY(-5px);
}

.annonce h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.annonce p {
  margin-bottom: 10px;
  color: #666;
}

.annonce .btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.annonce .btn:hover {
  background-color: #0056b3;
}

/* Menu toggle */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.sliding-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 100;
}

.sliding-menu ul {
  list-style-type: none;
  padding: 20px;
}

.sliding-menu ul li {
  margin-bottom: 10px;
}

.sliding-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.sliding-menu ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

#search {
  width: 33%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.details {
  display: none;
}

#applicationModal {
  display: none; /* Par défaut, le modal est caché */
  position: fixed; /* Fixe le modal au-dessus du contenu */
  z-index: 1; /* Le z-index assure que le modal s'affiche au-dessus du reste du contenu */
  left: 0;
  top: 0;
  width: 100%; /* Largeur et hauteur couvrent l'écran entier */
  height: 100%;
  overflow: auto; /* Permet le défilement si nécessaire */
  background-color: rgb(0, 0, 0); /* Couleur d'arrière-plan */
  background-color: rgba(0, 0, 0, 0.4); /* Arrière-plan noir avec opacité */
}

#applicationModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% depuis le haut et centré */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur du modal */
}

#applicationModal form {
  display: flex;
  flex-direction: column; /* Les éléments du formulaire sont empilés verticalement */
}

#applicationModal label {
  margin-bottom: 0.1em;
  color: #333;
  font-size: 1em;
}

#applicationModal input[type="text"],
#applicationModal input[type="email"],
#applicationModal input[type="tel"],
#applicationModal input[type="file"] {
  padding: 0.1em;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
}

#applicationModal button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 2em;
}

#applicationModal button[type="submit"]:hover {
  background-color: #45a049;
}

#annulerForm {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 2em;
}

.toast {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}
